html {
  font-size: 10px;
  background-color: rgb(245, 245, 245);
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  max-width: 600px;
  align-items: center;
  justify-content: center;
}

.key {
  border: .5rem solid black;
  border-radius: 1rem;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25%;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.7);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.15);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
